/* colors:  #5C4400 #12B586 #A87C00 #560063 #9E00B8 */


/* Web portfolio styling */
* {
    box-sizing: border-box;
  }
  
  /* .item {
    margin: 50px 2% auto auto;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  } */

  #gallery li {
    float: center;
    width: 45%;
    margin: 2.5%;
    align-items: center;
    justify-content: center;
}


  ul {
      list-style-type:  none;
      column-gap: 2%;
      float: center;
      }

#wrapperGallery {
    float: center;
    display: inline;
    /* width: 25%;
    margin: 2.5%; */
    /* display: flex; */
    text-align: center;
}

#liveGallery, #designGallery {
  float: left;
  width: 50%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* @media screen and (max-width: 480px) {
  #liveGalley, #designGallery{ 
   max-width: 100%;
   display: block;
}
} */


/* Body styling */

body {
  background-color:#f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #AAE0BE;
  padding: 5px 0 0 0;
  text-align: center;
}

#logo {
  float: center;
}
a {
  text-decoration: none; /** Removes link styling. **/
}
nav a, nav a:visited, h3 {
  color:#4A6152;
}
a:link {
  color: #4A6152;
}
/*nav styles*/
a, a:visited {
  color: #4A6152;
}

a.selected, a:hover {
  color: #4A6152;
}

p, h3, figcaption, a {
  font-family: 'PT Sans', sans-serif;
}

/* Icons and images */

.preview {
  height: 75%;
  Width: 75%;
}

.icon {
  height: 5%;
  Width: 5%;
}

.contact-info {
  text-align: center;
}

.book-info {
  text-align: center;
}


/* Profile Photo */

.profile-photo {
  display: block; /** Using Block allows us to center the image using margins. Default is inline. **/
  max-width: 175px;
  margin: 0 auto 30px;
  margin-top: 30px;
  border-radius: 100%;
}

/* Footer */
footer {
  text-align: center;
  margin-top: auto;
  clear: both;
}
